/* Reset */
*, *:before, *:after{margin:0; padding:0;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: .5em;
    margin: -.5em;
}

/* Helpers */
.flt-right{
	float:right;
}
.flt-left{
	float:left;
}
.hide{
	display:none;
}
.show{
	display:block;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
table tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
}
.v-h{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.clr{
    clear:both;
}

/* @media */
@media print {
    * {
        background: none !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
 
        /* Images, vectors and such */
        filter: Gray();                          /* IE4-8: depreciated */
        filter: url('desaturate.svg#grayscale'); /* SVG version for IE10, Firefox, Safari 5 and Opera */
        -webkit-filter: grayscale(100%);         /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);            /* Future proof */
        -ms-filter: grayscale(100%);             /* Future proof */
        -o-filter: grayscale(100%);              /* Future proof */
        filter: grayscale(100%);                 /* Future proof or polyfilled */
    }
 
    a {
        text-decoration: underline;
    }
 
    a[href]:after {
        content: " (" attr(href) ")"; 
    }
 
    a[href="#"],
    a[href="javascript:"] {
        content: "";
    }
} 


/* UI */
html{
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #e5e5e5;
}
/*Header*/
header {
    padding:80px 70px 50px 70px;
    background: radial-gradient( farthest-side circle at top left, red, rgb(102, 102, 255));
    color:#fff;
}


nav{
    position: absolute;
    top:0; left:0; right:0;
    padding:30px 70px;
}
nav ul{
    max-width: 860px;
    margin: 0 auto;
}
nav li{
    display:inline-block;
    margin-right:20px;
}
nav li a{
    position: relative;
    padding: 5px 15px;
    border-radius:50px;
    transition:background .2s ease-out;
}
nav li a.active,
nav li a:hover{
    box-shadow:inset 0 0 1px rgba(0,0,0,.3);
    background: rgba(0,0,0,.2);
}



header section{
    text-align:center;
}
header h1{
    font-size:3.5em;
    margin-bottom:17px;
}
header h1 + p{
    margin-bottom:25px;
}
header button{
    background:none;
    border:2px solid #fff;
    padding:10px 15px;
    margin-right:10px;
    font-size:1em;
    color:#fff;
    transition:all .6s ease-out;
}
header button:active{
    
}


.main{
    padding:30px 70px; 
    max-width:1000px;
    margin:0 auto;
    color:#514f4f;
}
.main h2{
    margin-bottom:20px;
}
.main li{
    float:left;
    width:200px;
    list-style: none;
}
.main li img{
    height:28px; width:28px;
    float:left;
    margin:5px;
}

/*
.main h2{
    text-align:center;
}
.main .install{
    margin:20px 0;
}
.main section .nbr{
    padding:7px 10px;
    border-radius:100px;
    border:3px solid #514f4f;
    font-size: .8em;
    margin-right:10px;
}
*/

footer{
    /*background: blue;*/
}
footer .contain{
    padding:30px 70px; 
    max-width:1000px;
    margin:0 auto;
}